/*
	Biscuitman JS Styles
	https://github.com/replete/biscuitman

	This stylesheet is the source stylesheet
	Use a version in /dist/ for improved compatibility
*/
.biscuitman {
	--ui: 0,0,0;
	--tx: #444;
	--bg: #fff;
	--c: #105d89;

	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background: var(--bg);
	box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.16);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	z-index: 3;
	display:none;

	.bm-show & {
		display:block
	}

	* {
		box-sizing: border-box;
		font-family:inherit;
		font-size: 16px;
		padding: 0;
		margin: 0;
		line-height: 1.4em;
		color: var(--tx)
	}

	/* Progressive enhancement */
	&:has([open]) {
		transform: translateY(100%);
	}

	article {
		position: relative;
		padding:0;

		@media (min-width: 770px) {
			padding-right: calc(max(300px, 30vw) + 20px);

			nav {
				min-width: 300px;
				width: 30vw;
				position: absolute;
				bottom: 50%;
				transform: translateY(50%);
				right: 0;
			}
		}

		p {
			margin: 10px 0;
			font-size: 13px;
			color: var(--tx);

			@media (min-width: 575px) {
				font-size: 14px;
			}
		}
	}

	button {
		background: var(--bg);
		border: 2px solid var(--c);
		line-height: 1em;
		padding: 0.8em;
		margin-top: 10px;
		color: var(--c);
		font-size: 13px;
		border-radius: 3px;
		cursor: pointer;

		&[data-id=accept] {
			background: var(--c);
			color: var(--bg) !important;
		}

		&[data-id=close] {
			border: none;
			outline: none;
			position: absolute;
			background: transparent;
			color: rgba(var(--ui),.5);
			top: 0;
			right: 10px;
			line-height: 1em;
			opacity: 0.6;
			font-size: 24px;
			user-select: none;
			z-index: 2;
			padding: 10px;
		}

		&[disabled] {
			display: none;
			/* This rule is for the 'force' option */
		}

		&:hover {
			opacity: 0.8;
		}
	}

	nav {
		@media (min-width: 576px) {
			display: flex;
			width: 100%;
			flex-direction: row-reverse;
			gap: 10px;

			button {
				flex-grow: 1;
				margin-bottom: 0;
			}
		}
		@media (max-width: 575px) {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
	}

	dialog {
		border: 0;
		width: 100%;
		height: 100%;
		max-height: 100%;
		max-width: 100%;
		background: var(--bg);

		@media (min-width: 576px) {
			box-shadow: 0px 0 8px rgba(0, 0, 0, 0.3);
			margin: auto auto;
			max-height: 80vh;
			width: 90vw;
			max-width: 860px;
			border-radius: 10px;
		}
		@media (min-width: 576px) and (min-height: 1134px) {
			max-height: 950px; /* KLUDGE: magic number based on 6 sections */
		}

		nav {
			position: relative;
			justify-self: flex-end;
		}
	}

	.bm-dialog {
		padding: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;

		b {
			position: relative;
			padding-bottom: 8px;
		}

		> b::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			margin-bottom: -24px;
			width: 100%;
			height: 25px;
			background: linear-gradient(180deg, var(--bg) 20%, rgba(255,255,255,0)); /* rgba is safari < 15 fix */
			pointer-events: none;
			z-index: 1;
		}

		nav::after {
			content: '';
			position: absolute;
			left: 0;
			top: -24px;
			width: 100%;
			height: 25px;
			background: linear-gradient(0deg, var(--bg) 20%, rgba(255,255,255,0)); /* rgba is safari < 15 fix */
			pointer-events: none;
		}
	}

	.bm-sections {
		flex-shrink: 1;
		overflow-y: scroll;
		height: 100%;
		padding: 15px 0;
		position: relative;
		scrollbar-color: rgba(var(--ui),.2) var(--bg);
		@media (min-width: 576px) {
			padding-right: 4px;
			margin-right: -18px;
		}

		> p {
			line-height: 18px;
			padding-right: 30px;
			font-size: 13px;

			@media (min-width: 576px) {
				font-size: 14px;
			}

			span {
				font-size: inherit;
				display: inline-block;
				padding-bottom: 5px;
			}

			[data-id=more] ~ span {
				display: none;
			}
		}
	}

	a {
		font-size: inherit;
		color: var(--c);
		display: inline-block;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	section {
		position: relative;
		margin-bottom: 10px;

		&:first-of-type {
			margin-top: 10px;
		}
	}

	details {
		border: 1px solid rgba(var(--ui),.2);
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		list-style: none;

		&[open] summary b::after {
			transform: rotate(45deg) scale(0.3);
			margin: -3px 0 0 -2px;
		}
	}

	summary {
		width: 100%;
		display: flex; /* hides marker */
		flex-direction: column;
		cursor: pointer;
		position: relative;
		list-style: none;
		padding: 5px 80px 10px 10px;

		b {
			margin-bottom: 3px;

			&::after {
				content: '';
				display: block;
				height: 1em;
				width: 1em;
				border: 5px solid rgba(var(--ui),.4);
				border-left-color: transparent;
				border-top-color: transparent;
				border-radius: 2px;
				transform: rotate(-45deg) scale(0.3);
				margin: -2px 0 0 -4px;
			}
		}

		p {
			font-size: 14px;
			color: var(--tx);
		}

		> * {
			display: inline-flex;
		}

		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}

	dl {
		display: flex;
		padding: 10px;
		margin: 10px;
		background: rgba(var(--ui),.08);

		dt,
		dd {
			color: var(--tx);
			font-size: 12px;
		}

		dt {
			min-width: 120px;
			font-weight: bold;
			padding-right: 30px;
		}
	}

	label {
		--height: 1.2em;
		--width: 2.3em;
		--gap: 2px;
		font-size: 20px !important;
		position: absolute;
		top: 50%;
		right: 20px;
		display: block;
		height: var(--height);
		width: var(--width);
		background-color: rgba(var(--ui),.3);
		border-radius: var(--height);
		transform: translateY(-50%);
		margin-top: -2px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: var(--bg);
			height: calc(var(--height) - calc(var(--gap) * 2));
			width: calc(var(--height) - calc(var(--gap) * 2));
			height: var(--height);
			width: var(--height);
			border-radius: 100%;
			left: var(--gap);
			left: 0;
			top: 50%;
			transform: translateY(-50%) scale(0.8);
			transform-origin: center center;
		}

		&.checked {
			background-color: var(--c);

			&::before {
				left: auto;
				right: 0;
			}
		}

		/* Progressive enhancement */
		&:has(:focus-visible) {
			/* Show focus outline correctly correctly with keyboard focus */
			outline: auto highlight;
		}

		&.disabled.checked {
			opacity: 0.5;
		}

		input {
			opacity: 0;
		}
	}
}

/* https://github.com/GoogleChrome/dialog-polyfill?tab=readme-ov-file#stacking-context */
.bm-dialog-polyfill .biscuitman dialog {
	position:fixed;
	top:50%;
	transform: translateY(-50%);
}
